.commentEditor {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    border: 1px solid #d9d9d9;
    padding-left: 1.2em;
    padding-right: 1.1em;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.controlElements {
    padding-top: 0.5em;
    padding-bottom: 1.1em;
    display: flex;
    flex-direction: row-reverse;
}