.commentViewer > .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-bottom: 0;
    padding-top: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.ant-comment-inner {
    padding-top: 0;
}

.commentViewer {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}