.ant-collapse-content > .ant-collapse-content-box {
    padding-top: 1em;
    padding-bottom: 0;
}

.comments {
    padding: 0.5em 0.5em 0.5em 1em;
}

.ant-collapse {
    border: 1px solid #f0f0f0;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}

.ant-input {
    background-color: #fdfdfd;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.ant-comment-inner {
    padding-top: 0;
    padding-bottom: 0.5em;
}

.commentViewer {
    padding-bottom: 0.5em;
    padding-top: 0.1em;
}

.ant-comment-content-author {
    margin: 0;
}

p {
    margin: 0;
}