.replyEditor > .ant-input {
    width: available;
}

.replyEditor {
    width: available;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.controlElementsReply {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0.5em;
}
