.replyEditor > .ant-input {
    width: available;
}

.replyEditor {
    width: available;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.controlElementsReply {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0.5em;
}
