.replyEditor > .ant-input {
    width: available;
}

.replyEditor {
    width: available;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1em;
}

.controlElementsReply {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0.5em;
}
